:host {
  display: block;
}

:host ::ng-deep {
	.p-multiselect, .p-dropdown {
		width: 100%;
	}
}

:host-context(.ag-cell) {
		::ng-deep {
			.p-multiselect, .p-dropdown {
				top: -1px;
				border: 0;
				border-radius: 0;
			}

			.p-multiselect .p-multiselect-label,
			.p-dropdown .p-dropdown-label {
				padding: 0 8px;
				font-size: 11px;
				font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
			}
		}


}
