<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"></a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               nbContextMenuTag="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [title]="user?.email"
               [picture]="user?.photoUrl">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
