<nb-card>
  <nb-card-body>
    <h3>Welcome to implemented.today</h3>
    <p>Hope, you'll pass simple ToDos and became a member of our growing team :)</p>
    <p>Below you can find list of tasks, that need to complete. Good luck!</p>
  </nb-card-body>
</nb-card>

<mat-accordion>
  <mat-expansion-panel *ngFor="let task of tasks$ | async; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{i + 1}}. {{task.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <implto-quill-content-renderer [html]="task.description"></implto-quill-content-renderer>
  </mat-expansion-panel>
</mat-accordion>

<nb-card *ngIf="tasks && tasks.length === 0">
  <nb-card-body>There are no assigned tasks for you. Please, check later or contact us. Thanks.</nb-card-body>
</nb-card>

