@import 'themes';

@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  @include nb-auth-global(); // append the install mixin inside of the nb-install
};

@import "~@ag-grid-community/core/dist/styles/ag-grid.scss";
@import "~@ag-grid-community/core/dist/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  // https://www.ag-grid.com/javascript-grid-themes-customising/
  @include ag-theme-alpine((
    alpine-active-color: nb-theme(color-primary-active),
    border-radius: nb-theme(card-border-radius),

    // Background for areas of the interface that contain UI controls, like tool panels and the chart settings menu
    control-panel-background-color: nb-theme(color-basic-200),

    // Background colour for all headers, including the grid header, panels etc
    header-background-color: #fff,

    // Colour for border around major UI components like the grid itself, headers, footers and tool panels
    border-color: nb-theme(border-basic-color-5),

    // Colour for borders used to separate elements within a major UI component
    //secondary-border-color: green,
  ));

  .ag-root-wrapper {
    border: nb-theme(card-border-width) nb-theme(card-border-style) nb-theme(card-border-color);
    border-radius: nb-theme(card-border-radius);
    box-shadow: nb-theme(card-shadow);
  }
}

.nb-dialog-actions {
  justify-content: flex-end;

  >* {
    margin-left: 20px;
  }

  button {
    margin: 0 10px;
  }
}

.p-multiselect-panel {
  z-index: 2000 !important;
}
nb-layout-column {
  padding: 0.5rem 0.5rem 0.25rem !important;
}

.color-green {
  color: #0abb87 !important;
}

.color-grey {
  color: grey !important;
}

.color-yellow {
  color: #ffb822 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
